@import "../commons";
@import "landing/landing";

#prw-home-page {
  //@extend .prw-full-height;
}

.navbar-collapse {

  &.show {

    div {
      .aws-btn {
        transition: all ease-in-out 0.2s;
        @extend .prw-btn-dark;

        height: 32px;
        @include xxsh() {
          height: 40px;
        }
        @include xsh() {
          height: 48px;
        }

        --button-small-width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 2px;

        .prw-navbar-navigation-button-text {
          @extend .prw-animated-text-visible;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.prw-navbar-visible {
  transition: transform 0.8s;
  transform: translateY(0%);
}

.prw-navbar-invisible {
  transition: transform 0.8s;
  transform: translateY(-100%);
}
