@import "../../breakpoints";

#prw-home-page-projects-fragment {

    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;

    #prw-home-page-projects-fragment-loader {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height : 100vh;
        width: 100%;
        font-size: 1rem;
        z-index: 1;

        svg {
            width: 20%;
        }

        &.activated {
            height: 0;
            opacity: 0;
            transition: opacity 2s linear, height 0s linear 2s;
        }
    }

    #prw-home-page-projects-fragment-projects-header {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        @include xsh() { margin-top: 5vh; }

        h1 {
            margin-bottom: 5px;
            transition: transform 0.5s ease-out 3s;
        }
        hr {
            margin-top: 0;
            width: 60px !important;
            border: 8px solid #3f51b5 !important;
            border-radius: 5px;
            transition: transform 0.5s ease-out 3s;
        }

        &.deactivated {
            height: 0;
            opacity: 0;
            h1 { transform: translateX(-150vw); }
            hr { transform: translateX(150vw); }
        }

        &.activated {
            width: 100%;
            height: 10vh;
            opacity: 1;
            transition: height 2s linear, opacity 2s linear 2s;

            h1 { transform: translateX(0); }
            hr { transform: translateX(0);}
        }
    }

    #prw-home-page-projects-fragment-projects {

        display: flex;
        align-items: center;
        overflow-x: auto;
        list-style-type: none;
        width: 100%;
        padding: 0 10px;

        &.deactivated {
            height: 0;
            opacity: 0;
        }

        &.activated {
            height: 75vh;
            opacity: 1;
            transition: height 2s linear, opacity 2s linear 2s;
        }

        .prw-home-page-projects-fragment-project {

            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            padding: 1.5rem;
            transition-timing-function: ease;
            border: 4px solid transparent;
            box-shadow: 0 0 0 1px #3c3c3c, 0 0 0 2px#000;
            align-items: center;
            background: #2c2c2c;
            height: 70%;
            width: 200px;
            min-width: 200px;
            @include xs() { width: 225px; min-width: 225px; }
            @include sm() { width: 250px; min-width: 250px; }
            @include md() { width: 275px; min-width: 275px; }
            @include lg() { width: 300px; min-width: 300px; }
            @include xl() { width: 325px; min-width: 325px; }

            &:first-child {
                margin-left: auto;
            }

            &:last-child {
                margin-right: auto;
            }

            &:not(:first-child) {
                margin-left: -2rem;
            }

            transition: 0.2s;

            &.activated {
                margin-left: 125vw;
                &:nth-child(1) { animation: slideInFromRightSlightlyLess 0.5s ease-out 3s forwards;}
                &:nth-child(2) { animation: slideInFromRight 0.5s ease-out 3.5s forwards;}
                &:nth-child(3) { animation: slideInFromRight 0.5s ease-out 4s forwards;}
                &:nth-child(4) { animation:  slideInFromRight 0.5s ease-out 4.5s forwards;}
            }

            &:hover, &:focus, &:focus-within {
                transform: translateX(5px) translateY(-1rem) !important;

                ~ .prw-home-page-projects-fragment-project {
                    transform: translateX(calc(2rem + 6px + 5px)) !important;
                }
            }

            .prw-home-page-projects-fragment-project-content {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                border: 4px solid transparent;
                box-shadow: 0 0 0 1px #3c3c3c, 0 0 0 2px#000;
                word-break: keep-all;
                padding-top: 10px;

                img {
                    margin-top: auto;
                    width: 30%;
                    @include xsh() { width: 50% }
                }

                .prw-home-page-projects-fragment-project-tags {

                    display: flex;
                    width: 100%;
                    margin-top: auto;
                    margin-bottom: 10%;

                    .prw-home-page-projects-fragment-project-tag {
                        flex: 1;
                    }
                }
            }
        }

    }

    #prw-home-page-projects-fragment-card-controller {

        display: flex;
        width: 100%;
        z-index: 1;
        overflow-x: auto;
        justify-content: center;
        align-items: center;

        &.deactivated {
            height : 0;
            opacity: 0;
        }

        &.activated {
            height: 10vh;
            opacity: 1;
            transition: height 2s linear, opacity 2s linear 2s;
        }

        .prw-home-page-projects-fragment-card-controller-button {

            transition: transform 0.5s ease-out 3s;
            max-height: 100%;
            min-height: 0;

            &.deactivated {
                transform: translateY(10vh);
            }

            &.activated {
                transform: translateY(0) rotate(360deg);
            }

            &#prw-home-page-projects-fragment-card-controller-right-button{
                margin-left: 2%;
            }
        }
    }
}

@keyframes slideInFromRight {
    0% {
        margin-left: 125vw;
    }
    100% {
        margin-left: -2rem;
    }
}
@keyframes slideInFromRightSlightlyLess {
    0% {
        margin-left: 125vw;
    }
    100% {
        margin-left: auto;
    }
}