// small smartphones (landscape view)
$screen-xxs-min: 280px;

// medium smartphones (landscape view)
$screen-xs-min: 360px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra Small devices
@mixin xxs {
    @media (min-width: #{$screen-xxs-min}) {
        @content;
    }
}

@mixin xxsh {
    @media (min-height: #{$screen-xxs-min}) {
        @content;
    }
}

@mixin xs {
    @media (min-width: #{$screen-xs-min}) {
        @content;
    }
}

@mixin xsh {
    @media (min-height: #{$screen-xs-min}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin smh {
    @media (min-height: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin mdh {
    @media (min-height: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin lgh {
    @media (min-height: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin xlh {
    @media (min-height: #{$screen-xl-min}) {
        @content;
    }
}