@import "commons";
@import "tictactoe/tictactoe";
@import "components/components";
@import "home/home";

html, body, #root {
  @extend .prw-full-height;
}

.prw-navbar {
  z-index: 1020;
  position: fixed !important;
  width: 100%;
  padding: 0 !important;
  flex-wrap: wrap !important;

  background-color: rgba(0, 0, 0, 1) !important;
  background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
  radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
  radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
  radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

  .prw-navbar-brand {
    padding: 0.2rem 0.2rem;
  }

  .prw-navbar-brand-img {
    height : 50px;
    border-radius : 50%;
    margin-right : 10px;
  }

  .navbar-toggler {
    margin-right: 0.2rem;
    background-color: black;
  }

  .prw-navbar-navigation-button-wrapper {
    justify-content: flex-end!important;

    .aws-btn {
      margin-right: 1%;
      @extend .prw-btn;

      .prw-navbar-navigation-button-text {
        @extend .prw-animated-text-hidden;
      }

      :hover {
        .prw-navbar-navigation-button-text {
          @extend .prw-animated-text-visible;
        }
      }
    }
  }

  .prw-navbar-bottom-decoration {
    flex: 0 1 100%;
    z-index: 1020;
  }
}

.mvp-intro-header {
  @extend .ttt-modal-header;
  color: #fff;
  background: $accent-color;
  font-size: 1.5em;
}

.mvp-intro-content {
  @extend .ttt-modal-content;
  margin: auto;
  background: $accent-color;
}

.mvp-intro-desc {
  color: #fff;
  background: $accent-color;
  padding: 10px;
  text-align: justify;
}

.complete-mvp-intro-button {
  @extend .ttt-button;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #2c2c2c;
  background: #3c3c3c;
}

@import "typography";