@import "commons";
@import "tictactoe/tictactoe";
@import "components/components";
@import "home/home";

html, body, #root {
  @extend .prw-full-height;
}

.prw-navbar {
  height: 56px;
  min-width: 224px;
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.5);
}

.mvp-intro-header {
  @extend .ttt-modal-header;
  color: #fff;
  background: $accent-color;
  font-size: 1.5em;
}

.mvp-intro-content {
  @extend .ttt-modal-content;
  margin: auto;
  background: $accent-color;
}

.mvp-intro-desc {
  color: #fff;
  background: $accent-color;
  padding: 10px;
  text-align: justify;
}

.complete-mvp-intro-button {
  @extend .ttt-button;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #2c2c2c;
  background: #3c3c3c;
}

@import "typography";